<div class="row mt-3">
  <div class="col-12 col-md-6 col-lg-4">
      <div class="card bg-white text-dark">
          <div class="card-header">Course of study</div>
          <div class="card-body">
            <p class="card-text">Here there are several shortcuts to help you modify the course of study faster.</p>
            <ul>
              <li><a [routerLink]="['course-of-study']" class="text-dark">Create a course of study</a></li>
              <li><a [routerLink]="['subjects']" class="text-dark">Assign subjects</a></li>
              <li><a [routerLink]="['professors']" class="text-dark">Add a professor</a></li>
            </ul>
          </div>
        </div>
  </div>
</div>