<div class="row mt-3">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card bg-white text-dark border border-secondary mt-3">
      <div class="card-body">
        <div class="card-title">
          <h5>Course of study</h5>
        </div>
        <p class="card-text">Here there are several shortcuts to help you modify the course of study faster.</p>
        <ul>
          <li>
            <a [routerLink]="['academic-year']" class="text-dark">Create an academic year</a>
          </li>
          <li>
            <a [routerLink]="['course-of-study']" class="text-dark">Create a course of study</a>
          </li>
          <li>
            <a [routerLink]="['professors']" class="text-dark">Add a professor</a>
          </li>
          <li>
            <a [routerLink]="['subjects']" class="text-dark">Assign subjects to a professor</a>
          </li>
          <li>
            <a [routerLink]="['classrooms']" class="text-dark">Add a classroom</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card bg-white text-dark border border-secondary mt-3">
      <div class="card-body">
        <div class="card-title">
          <h5>Calendar</h5>
        </div>
        <p class="card-text">Here there are several shortcuts to help you manage the calendar.</p>
        <ul>
          <li>
            <a [routerLink]="['lessons']" class="text-dark">Add a lesson</a>
          </li>
          <li>
            <a [routerLink]="['exams']" class="text-dark">Add an exam</a>
          </li>
          <li>
            <a [routerLink]="['modify-lessons']" class="text-dark">Modify a lesson</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card bg-white text-dark border border-secondary mt-3">
      <div class="card-body">
        <div class="card-title">
          <h5>Problem</h5>
        </div>
        <p class="card-text">Here you can access to problems reported by professors.</p>
        <ul>
          <li>
            <a [routerLink]="['problems']" class="text-dark">Reported problems</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
