<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item" aria-current="page">
      <a class="text-dark" [routerLink]="['/secretariat']">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Reported problems</li>
  </ol>
</nav>

<div class="row mt-3">
  <div class="col">
    <h1>Reported problems</h1>
    <p>Here there is the list of all the problems reported by professors.</p>
  </div>
</div>

<app-reporting-list [problems]="problems"></app-reporting-list>
