<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item" aria-current="page">
      <a class="text-dark" [routerLink]="['/secretariat']">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Reported problems</li>
  </ol>
</nav>

<div class="row mt-3">
  <div class="col">
    <h1>Reported problems</h1>
    <p>Here there is the list of all the problems reported by professors.</p>
  </div>
</div>

<div class="text-right">
  <button class="btn btn-outline-primary" type="button" (click)="toggleFilter()">
    {{ filterHidden ? 'Open' : 'Close' }} filters
    </button>
</div>
<div class="form-group mt-3" [hidden]="filterHidden">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="form-group">
        <select class="form-control" id="classroom" (change)="selectClassroom(+$event.target.value)">
          <option [value]="null">Filter by classroom</option>
          <option *ngFor="let c of classrooms" [value]="c.id">{{ c.name }}</option>
        </select>
      </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
          <select class="form-control" id="status" name="status" (change)="filterByStatus()" [(ngModel)]="selectedStatus">
            <option [value]="''">Filter by status</option>
            <option *ngFor="let s of reportStatuses" [value]="s.status">{{ s.display }}</option>
          </select>
        </div>
      </div>
  </div>
</div>


<app-reporting-list [problems]="problems"></app-reporting-list>
