<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="courseOfStudyDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Course of study
        </a>
        <div class="dropdown-menu" aria-labelledby="courseOfStudyDropdown">
          <a class="dropdown-item" [routerLink]="['course-of-study']">Create a course of study</a>
          <a class="dropdown-item" [routerLink]="['subjects']">Assign subjects</a>
          <a class="dropdown-item" [routerLink]="['professors']">Add a professor</a>
          <a class="dropdown-item" [routerLink]="['classrooms']">Add a classroom</a>
          <a class="dropdown-item" [routerLink]="['lessons']">Add a lesson</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="logout()">Log out</a>
      </li>
    </ul>
  </div>
</nav>

<div *ngIf="secretariatService.alertToBeShown" class="alert alert-{{ secretariatService.alert.type }} alert-dismissible fade show">
  {{ secretariatService.alert.message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="secretariatService.clearAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
