<div class="text-center mt-5">
  <form novalidate class="form-signin mx-auto" #ngForm (ngSubmit)="formSubmitted()">
    <h1 class="h3 mb-3 font-weight-normal">Please, sign in</h1>
    <label for="username" class="sr-only"></label>
    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required [(ngModel)]="userCredentials.username">
    <label for="password" class="sr-only"></label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required [(ngModel)]="userCredentials.password">
    <button class="btn btn-lg btn-block btn-primary mt-3" type="submit">Sign in</button>
    <hr>
    <a href="#" class="text-danger">Forgot your password? Reset it here.</a>
  </form>
</div>