<div class="text-center mt-5">
  <form novalidate class="form-signin mx-auto">
    <h1 class="h3 mb-3 font-weight-normal">Please, sign in</h1>
    <label for="username" class="sr-only"></label>
    <input type="text" id="username" class="form-control" placeholder="Username">
    <label for="password" class="sr-only"></label>
    <input type="password" id="password" class="form-control" placeholder="Password">
    <button class="btn btn-lg btn-block btn-primary mt-3">Sign in</button>
    <hr>
    <a href="#" class="text-danger">Forgot your password? Reset it here.</a>
  </form>
</div>