<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['upload-document']">Upload a document</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="logout()">Log out</a>
      </li>
    </ul>
  </div>
</nav>

<div *ngIf="messageService.alertToBeShown" class="alert alert-{{ messageService.alert.type }} alert-dismissible fade show">
  {{ messageService.alert.message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="messageService.clearAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
